mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="Users profile picture")
        .textareaContainer 
            textarea#postTextArea(placeholder="So, what´s up...?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post     

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replayModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#replayModalLabel.modal-title Please reply this IkkI
                .modal-body
                    #originFormContainer
                    .postFormContainer
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic, alt="Users profile picture")
                        .textareaContainer 
                            textarea#replyTextArea(placeholder="So, what´s up...?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#submirReplyBotton.btn.btn-danger(type='button',disabled="true") Reply

mixin createDeleteModal(userLoggedIn)
    #deleteModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#deleteModalLabel.modal-title Delete this IkkI
                .modal-body
                    <p>you wanna delete this IkkI??
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#submiDeleteBotton.btn.btn-danger(type='button') Delete


mixin createFollowButton(user,isFollowing)
    - text = !isFollowing?"Following":"Follow"
    - buttonClass = isFollowing?"followButton following":"followButton"
    button(class=buttonClass,data-user=user._id) #{text}

mixin createTab(name,href,isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href,class=className)
        span #{name}

mixin createImageUploading()
    #imageUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='imageUploadModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload a new profilePicture
                .modal-body
                    input#filePhoto(type="file",name="filePhoto")

                    .imagePreviewContainer 
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') cancel
                    button#imageUploadBotton.btn.btn-danger(type='button') save        

mixin createCoverPhotoUploading()
    #coverPhotoUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='coverPhotoUploadModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoUploadModalLabel.modal-title Upload a new cover Photo
                .modal-body
                    input#coverPhoto(type="file",name="coverPhoto")

                    .imagePreviewContainer 
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') cancel
                    button#coverPhotoUploadBotton.btn.btn-danger(type='button') save        

mixin createPinnedModal()
    #confirmModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='confirmModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#confirmModalLabel.modal-title Pin this Post
                .modal-body
                    p this modal will appear at the top of the profile, pin just one post
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') cancel
                    button#confirmPinModalBotton.btn.btn-danger(type='button') Pin        

mixin createUnPinnedModal()
    #unpinnedModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='unpinnedModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#unpinnedModalLabel.modal-title UnPin this Post
                .modal-body
                    p this post will be unpin
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') cancel
                    button#confirmUnPinModalBotton.btn.btn-danger(type='button') Pin                            


mixin createChatImage(chatData,userLoggedIn)
    if(!chatData)
        return 
    - var i=0
    - var maxImagesToShow = 4
    - var remainingUsers = chatData.users.length - maxImagesToShow
    - remainingUsers--    
    .chatImagesContainer 
        if remainingUsers >0
            .userCount 
                span +#{remainingUsers}
        each user in chatData.users 
            if chatData.users.length != 1 && user._id == userLoggedIn._id
                -continue
            else if i>=maxImagesToShow
                -break    
            img(src=user.profilePic, alt="users,profile picture", title=user.firstName)                        
            - i++

mixin createChatNameModal(chat)
    #chatNameModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='chatNameLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#chatNameLabel.modal-title Change the chat Name
                .modal-body
                    input#chatNameTextBox(type="text",placeholder="Enter a name for this chat",value=chat.chatName)
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') cancel
                    button#chatNameModalBotton.btn.btn-danger(type='button') Save                            
