extends layouts/main-layout.pug

block content
    if !profileUser
        h3.errorMessage User not found
    else
        script.
            let profileUserId='!{profileUser._id}'; 
            let selectedTab='!{selectedTab}'; 
        - followersCount=profileUser.followers.length;
        - followingCount=profileUser.following.length;
        .profileHeaderContainer 
            .coverPhotoSection
                .coverPhotoContainer
                    if profileUser.coverPhoto 
                        img(src=profileUser.coverPhoto,alt="coverPhoto")

                    if profileUser._id==userLoggedIn._id 
                        button.coverPhotoButton(data-bs-toggle="modal", data-bs-target="#coverPhotoUploadModal")
                            ion-icon(name="camera-reverse-outline")

                .userImageContainer 
                    img(src=profileUser.profilePic, alt="User profile image")
                    if profileUser._id==userLoggedIn._id 
                        button.profilePictureButton(data-bs-toggle="modal", data-bs-target="#imageUploadModal")
                            ion-icon(name="camera-reverse-outline")
            .profileButtonsContainer        
                if profileUser._id != userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        ion-icon(name='flame')
                    - let profileUserId = profileUser._id.toString();    
                    - if (userLoggedIn.following && userLoggedIn.following.includes(profileUserId)) 
                        +createFollowButton(profileUser,true)  
                    - else 
                        +createFollowButton(profileUser,false)
                    br  
                    br 
            .userDetailsContainer    
                span.displayName #{profileUser.firstName}  #{profileUser.lastName}
                span.userName @#{profileUser.username}
                span.userDescription #{profileUser.description}
                .followersContainer 
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`)
                        span#followersValue.value #{followersCount}
                        span Follower   
        .tabsContainer 
            +createTab("Posts", `/profile/`, selectedTab != "replies")
            +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == "replies")
        .pinnedPostContainer   
        .postContainer
        +createReplyModal(userLoggedIn)
        +createDeleteModal(userLoggedIn)
        +createImageUploading()
        +createCoverPhotoUploading()
        +createPinnedModal()
        +createUnPinnedModal()
        
    script(src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")

block scripts 
    script(src="/js/profile.js")